

  body {
    background-image: url("../Reference/VD.png");
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100vw;
    color: blanchedalmond;
}

  
  div.a {
    height: 50px;
    width: 5%;
    font-size: 150%;
    position: relative;
    left: 30px;
    border: 3px solid #9dd3e9;

  
  }
  
#corners{
  border-radius: 25px;
  background: #a3e4f5;
  padding: 30px; 
  width: 100px;
  height: 20px; 
  text-align: center;
}
.material-icon{
  position: right;
  font-size: 100em;
 } 
 .fixed {
  position:sticky;
  top: 5vmax;
  left: 40vmax;
  width: 300px;
 }


 