*{
    margin: 0px;
}
div{
    border: 1px solid red;
}
.menuBar{
    width: 100%;
    height: 45px;
    position: fixed;
    overflow: hidden;
    display: flex;
}
.bookDetail{
    width: 100%;
    height: 400px;
}
.purchaseButton{
    position: relative;
    width: 100px;
    height: 45px;
    top: 350px;
    left: 65%;
}